<table>
  <tr><td class="caption">Test Case Name:</td><td colspan="3" style="font-weight: bold;">$test_case_name</td></tr>
  <tr><td class="caption">Test Case ID:</td><td>$test_case_id</td><td class="caption">Test Folder:</td><td>$test_case_folder</td></tr>
  <tr><td class="caption">Test Configuration:</td><td>$test_case_configuration</td><td class="caption">Build #:</td><td>$test_case_build_info</td></tr>
  <tr><td class="caption">Tester Name:</td><td>$tester_name</td><td class="caption">Date Of Execution:</td><td>$date_of_execution</td></tr>
</table>